<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css ">
    <link rel="stylesheet" href="styles/style.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <header>
            <h1>BOOLFLIX</h1>
            <!-- input e button cerca -->
            <div class="search-box">
                <input class="no-focus" type="text" v-model="query" placeholder="Cerca film o serie tv">
                <button @click="doSearch">Cerca</button>
            </div>
        </header>

        <main>
            <div class="container">
                <ul>
                    <!-- film -->
                    <li v-for="movie in fullMoviesList" @click="getAddInfo(movie)">
                        <div class="poster-container">
                            <div class="show-info">
                                <p> <strong>Titolo:</strong> "{{movie.title}}";</p>
                                <p v-if="movie.title !== movie.original_title"> <strong>Titolo originale:</strong> "{{movie.original_title}}"; </p>
                                <p> <strong>Lingua originale:</strong>  <span class="flag-icon" :class="getFlag(movie.original_language)"></span></p>
                                <p>
                                    <strong>Voto: </strong> 
                                    <div class="stars-container">
                                        <i class="fa fa-star" :class="{'fa-star' : star, 'fa-star-o' : !star}" aria-hidden="true" v-for="star in getMovieStars(movie.vote_average)"></i>
                                    </div>
                                </p>
                                <p>
                                    <strong>Descrizione:</strong> 
                                    {{movie.overview}}
                                </p>
                                <p v-if="movie.overview == ''">
                                    Descrizione non disponibile.
                                </p>
                                <p>Clicca qui per scoprire il cast...</p>
                                <p v-if="movie.actors == ''">Le informazioni non sono al momento disponibili.</p>
                                <p class="cast" v-if="movie.actors">
                                    <span v-for="actors in movie.actors.slice(0, 5)">{{actors.original_name}}</span>
                                </p>
                            </div>
                            <div class="img-container">
                                <img :src="generateUrl(movie.poster_path)" alt="">
                                <span class="tvserie-popup" v-if="movie.tvSeries == true">Serie <br> Tv!</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </main>

    </div>

    <script src="scripts/app.js"></script>
</body>
</html>