<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css ">
    <link rel="stylesheet" href="styles/style.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <header>
            <h1>BOOLFLIX</h1>
            <!-- input e button cerca -->
            <div class="search-box">
                <input type="text" v-model="query" placeholder="Cerca film o serie tv">
                <button @click="doSearch">Cerca</button>
            </div>
        </header>

        <main>
            <div class="container">
                <ul>
                    <!-- film -->
                    <li v-for="movie in fullMoviesList">
                        <div class="poster-container">
                            <div class="show-info">
                                <span> <strong>Titolo:</strong> "{{movie.title}}";</span>
                                <span> <strong>Titolo originale:</strong> "{{movie.original_title}}"; </span>
                                <span> <strong>Lingua originale:</strong>  <span class="flag-icon" :class="getFlag(movie.original_language)"></span>; </span>
                                <span>
                                    <strong>Voto: </strong> 
                                    <div class="stars-container">
                                        <i class="fa fa-star" :class="{'fa-star' : star, 'fa-star-o' : !star}" aria-hidden="true" v-for="star in getMovieStars(movie.vote_average)"></i>
                                    </div>
                                </span>
                                <span>
                                    <strong>Descrizione:</strong> {{movie.overview}}
                                </span>
                            </div>
                            <div class="img-container">
                                <img :src="generateUrl(movie.poster_path)" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </main>

    </div>

    <script src="scripts/app.js"></script>
</body>
</html>